body {
    background-color: black;
}

.blur {
    filter:blur(80px);
    color:lightcyan;
    text-align:center;
    font-family: comic sans ms;
    font-size: 12em;
    text-shadow: 0 0 20px cyan;
    margin: 0.8em auto;
    transform:rotate(350deg);
}

.blur:hover {
    filter:blur(0px);
    filter:brightness(1.2);
    
}
