html, body {
    background-color: black;
    margin:0;
    height:100%;
    overflow:hidden;
    width:100%;
}

.blur {
    filter:blur(80px);
    color:lightcyan;
    text-align:center;
    font-family: comic sans ms;
    font-size: 12em;
    margin: 0.9em auto;
    text-shadow: 0 0 20px cyan;
    transform:rotate(350deg);
    z-index:1;
}

.blur:hover {
    filter:blur(0px);
    filter:brightness(1.2);
}

figure, .blur {
    border-radius:50%;
    width:fit-content;
}

.hide {
    visibility:hidden;
}

img {
    border-radius:50%;
    opacity:0.6;
    padding:0;
    margin:0;
}

#inky {
    position:absolute;
    top:10%;
    left:10%;
    z-index:0;
}

#blinky {
    position:absolute;
    bottom:10%;
    right:10%;
    z-index:0;
}
