html, body {
    background-color: black;
    margin:0;
    height:100%;
    overflow:hidden;
    width:100%;
}

#blinky {
    position:absolute;
    bottom:5%;
    right:5%;
    z-index:2;
}

.blur {
    color:lightcyan;
    filter:blur(80px);
    font-family: party let, brush script mt, snell roundhand, luminari;
    font-size: 11em;
    margin: 1em auto;
    text-align:center;
    text-shadow: 0 0 20px cyan;
    transform:rotate(350deg);
    z-index:5;
}

.blur:hover {
    filter:blur(0px);
    filter:brightness(1.2);
}

figure, .blur {
    border-radius:50%;
    width:fit-content;
}

.hide {
    visibility:hidden;
}

img {
    border-radius:50%;
    opacity:0.6;
    width:140px;
}

img:hover {
    visibility:hidden;
}

#inky {
    position:absolute;
    top:5%;
    left:5%;
    z-index:1;
}


/* Acts on screens smaller than 500px wide */
@media (max-width: 500px) {

    .blur {
        font-size:9em;
        margin: 1.3em auto;
    }

    img {
        width:120px;
    }
    
}

/* Acts on screens smaller than 1000px wide */
@media (min-width:1000px) {

    .blur {
        font-size:16em;
        margin: 1em auto;
    }

    img {
        width:180px;
    }

}
