html, body {
    background-color: black;
    margin:0;
    height:100%;
    overflow:hidden;
    width:100%;
}

.blur {
    color:lightcyan;
    filter:blur(80px);
    font-family: party let, brush script mt, snell roundhand, luminari;
    font-size: 12em;
    margin: 1em auto;
    text-align:center;
    text-shadow: 0 0 20px cyan;
    transform:rotate(350deg);
    z-index:5;
}

.blur:hover {
    filter:blur(0px);
    filter:brightness(1.2);
}

figure, .blur {
    border-radius:50%;
    width:fit-content;
}

.hide {
    visibility:hidden;
}

img {
    border-radius:50%;
    opacity:0.6;
}

#inky {
    position:absolute;
    top:5%;
    left:5%;
    z-index:1;
}

#blinky {
    position:absolute;
    bottom:5%;
    right:5%;
    z-index:2;
}

@media (max-width: 300px) {

    .blur {
        font-size:6em;
    }


    img {
        width:100px;
    }
    
}
